<div class="footer4 b-t spacer" style="background: #e5e4e4;">
  <div class="container text-center">
    <div class="round-social light">
      <a href="https://www.facebook.com/deboo.hygiene/" class="link" target="_new"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/deboohygiene" class="link" target="_new"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com/deboohygiene/" class="link" target="_new"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="copyright">
      All Rights Reserved by <a href="">Deboo</a>.
    </div>
  </div>
</div>
