
<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/Top_Banner.jpeg);padding-top:412px;"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans">
        <h1 class="title titleDeboo" style="text-transform:unset!important; color: #007FFF !important;">deboo</h1>
        <h3 style="margin-left: 65px;color:black;font-weight:700;font-size: 18px;">Clean Toilet Guaranteed, Everytime!</h3>
        <div class="playstore" style="margin-left: 65px;" >
          <!-- <button class="btn btn-secondary" style="color:#007FFF !important;font-weight:700;font-size: 12px;border:2px solid #007FFF;width: 130px;
          height: 36px;">book deboo</button>&nbsp;&nbsp; -->
          <a href="" style="margin-left: 1px;"><img src="assets/images/innerpage/app.jpg" alt="playstore" width="129" height="37" style="border-radius: 5px;"></a> &nbsp;&nbsp;
          <a href=""><img src="assets/images/innerpage/googleplay.png" alt="playstore" width="130" height="40"></a> 
        </div>
        <div class="playstore" style="margin-left: 65px; margin-top: 5px;" >
          <button class="btn btn-secondary btn2" >book deboo</button>&nbsp;&nbsp;
          <!-- <a href=""><img src="assets/images/innerpage/googleplay.png" alt="playstore" width="120" height="40"></a>  -->
        </div>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
