<!-- <div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
> -->
<div class="banner-innerpage">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 align-self-center text-center">
        <h1 class="title">ABOUT Us</h1>
        <br /><br />
        <!--start about us-->
        <div class="about-us">
          <div class="container">
            <div class="main-heading">
              <p>
                Home is where you trust the toilet seat, and the same should
                apply to every public restroom. That's why we've made it our
                mission to provide you with a clean, hygienic, and safe
                experience every time you need to use a public toilet. At a
                deboo, your toilet seat gets cleaned and dried after (before)
                every use. It is our view that improved sanitation is more than
                just a service that provides comfort. Good sanitation promotes
                human dignity and empowers individuals and communities to reach
                their full potential. Our commitment to cleanliness is
                unwavering, we go above and beyond to ensure a clean and
                welcoming restroom for you. Join us in creating a world where
                good sanitation is not just a necessity but a fundamental human
                right.
              </p>
            </div>

            <!--end about us-->
          </div>

          <div class="slide-content">
            <div class="row">
              <div class="col-sm-6">
                <div class="card">
                  <div class="circular-image">
                    <img
                      src="../../../assets/images/about us -image/4SG 2.6MB.JPG"
                      alt="circular image"
                    />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Dr Sanjay Ghotkar, Promoter</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="circular-image">
                    <img
                      src="../../../assets/images/about us -image/AG 3.1MB.JPG"
                      alt="circular image"
                    />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Mrs Anu Ghotkar, Founder</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="circular-image">
                    <img
                      src="../../../assets/images/about us -image/DP 6.3MB.JPG"
                      alt="circular image"
                    />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Mrs Dipali Pandiri, Founder</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="circular-image">
                    <img
                      src="../../../assets/images/about us -image/ML 1.6MB.jpg"
                      alt="circular image"
                    />
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Mrs Madhuri Lad, Founder</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
        </div>
      </div>
    </div>
  </div>
</div>
