<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Clean Toilet Seat.png"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Cleanliness Guaranteed.Every Time! </span>
      </h3>
      <p class="textLeft">
        deboo™ offers intelligent public toilets that guarantee a clean and
        sanitised facility for every user every time they wish to use it.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Protecting People, Enhancing Lives </span>
      </h3>
      <p class="textLeft">
        At deboo™ we believe that clean and safe public toilets are not a luxury
        but an essential part of the community. With the fusion of innovation
        and ergonomic design, deboo™ aims to revolutionise the perception of
        public toilets.
      </p>
    </div>
    <!-- Column -->
  </div>

  <div class="col-lg-6 no-trans text-center">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/Woman_Freedome.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Self_Cleaning.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Self Cleaning Toilet Seat </span>
      </h3>
      <div class="inner">
        <p class="textLeft">
          deboo™ assures safe and hygienic sanitation using smart technology. A
          deboo™ toilet seat is cleaned and sanitised after every use so that
          every user gets a freshly cleaned seat surface. We have considered
          minute details to offer the best hygiene and user experience. (Patent
          Pending)
        </p>
      </div>
    </div>
  </div>

  <!-- Column -->
</div>
<hr class="line" />
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Intelligent Toilet </span>
      </h3>
      <p class="textLeft">
        Powered by the Internet of Things (IoT), each deboo™ is equipped with a
        plethora of sensors and activators to reduce reliance on humans to
        maintain the cleanliness of the facility.
      </p>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/intelligent.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
        style="border: 1px solid rgb(224, 221, 221)"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Touchless.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Touchless </span>
      </h3>
      <p class="textLeft">
        To minimise the spread of infections a deboo™ facility is equipped with
        touchless sanitiser dispensers, soap dispensers, taps, flushes, bins,
        switches and door locking and unlocking systems.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Contactless </span>
      </h3>
      <p class="textLeft">
        deboo™ offers cashless payment for entry to the facility and vending of
        sanitary pads. deboo™ app is available to download from Play Store and
        App Store
        <span> </span>
      </p>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/App 1.jpg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />


<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Environment.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-info"> Environmentally Friendly </span>
      </h3>
      <p class="textLeft">
        Our auto-flushing toilets optimise the usage of water by identifying
        whether solids or liquids are to be flushed. The use of electricity for
        lighting, ventilation and running of the facility is optimised based on
        the presence of a user.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Attended Toilet </span>
      </h3>
      <p class="textLeft">
        Each facility is served by round the clock deboo™ Hostesses to assure
        safety and cleanliness.
      </p>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/lady.png"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
        style="border: 1px solid rgb(224, 221, 221)"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Menstruation1.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Be Clean, Feel Fresh </span>
      </h3>
      <p class="textLeft">
        Change the pads in privacy, safety and hygiene of deboo™. An automatic
        sanitary pad vending machine is located inside the deboo™ stall. Make a
        payment for vending the pad digitally using the deboo™ app.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Baby Diaper Change </span>
      </h3>
      <p class="textLeft">
        Change your little ones in the safety and hygiene of a diaper changing
        station provided inside a deboo™ stall.
      </p>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/baby_diaper.jpeg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/wheelchairacess.png"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Wheelchair Access </span>
      </h3>
      <p class="textLeft">
        deboo™ facility features a raised toilet bowl, grab rail, space to the
        side and front of the bowl to make it easier for our wheelchair using
        patrons.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />
<div class="row wrap-feature-22">
  <!-- Column -->
  <div class="col-lg-6">
    <div class="textbox1">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Made In India </span>
      </h3>
      <p class="textLeft">
        deboo™ has been conceptualised, designed & built in India. We have aimed
        to offer elegant design, smart performance and a premium product so that
        our patrons can experience luxury and comfort alongside hygiene.
      </p>
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans">
    <div class="homeimg1">
      <img
        src="assets/images/innerpage/Make in India.jpg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
</div>
<hr class="line" />

<div class="row wrap-feature-22" style="margin-bottom: -160px">
  <!-- Column -->
  <div class="col-lg-6" data-aos="" data-aos-duration="1200">
    <div class="homeimg">
      <img
        src="assets/images/innerpage/Swachh Bharat.jpg"
        class="rounded img-responsive"
        width="437"
        height="303"
        alt="wrapkit"
      />
    </div>
  </div>
  <!-- Column -->
  <div class="col-lg-6 no-trans lstDiv">
    <div class="text-box">
      <small class="text-info font-medium"></small>
      <h3 class="font-light">
        <span class="text-title"> Swachh Bharat Abhiyan </span>
      </h3>
      <p class="textLeft">
        deboo™ is proud to contribute to India’s sanitation infrastructure and
        support the Clean India Mission.
      </p>
    </div>
  </div>
  <!-- Column -->
</div>
<!-- <hr class="line"> -->
<br /><br /><br/>
