.homeimg {
  max-width: 75%;
  margin-left: 100px;
  /* box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75); */
}
@media (max-width: 767px) {
  .homeimg {
    max-width: 100%;
    text-align: center;
    position: relative;
    margin-left: 0px;
  }
}
@media (max-width: 1280px) {
  .homeimg {
    max-width: 100%;
    text-align: center;
    position: relative;
    margin-left: 0px;
    border-radius: 10px !important;
  }
}
/* .text-box {
  margin-right: 100px;

} */

.text-box{
  margin-top: 40px;
}

.text-box p {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 16px;
  color: #515050;
  font-weight: bold;
  font-family: "Avenir", sans-serif;
}
@media (max-width: 767px) {
  .text-box {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (max-width: 1280px) {
  .text-box {
    text-align: center;
    margin-left: 0px;
  }
}

.textbox1 {
  margin-left: 100px;
  margin-top: 20px;
  font-size: 16px;
  color: #353434;
  font-weight: bold;
  font-family: "Avenir", sans-serif;
}
@media (max-width: 767px) {
  .textbox1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 16px;
    margin-left: 0px;
  }
  .textbox1 {
    margin-top: -50%;
  }
}
@media (max-width: 1280px) {
  .text-info {
    padding: 10px;
    margin-top: 20px;
  }
  .textbox1 {
    margin: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    /* margin-right: 101px; */
    text-align: center;
    margin-left: 10px;
  }
  .textLeft {
    text-align: left;
    margin: 20px;
  }
  .lstDiv {
    margin-bottom: 50px;
  }
}

.homeimg1 {
  margin-right: 138px;
  max-width: 100%;
  margin-right: 100px;
  /* box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
       -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
       -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75); */
}

@media (max-width: 767px) {
  .homeimg1 {
    max-width: 100%;
    /* padding-left: 135px; */
    margin-right: 0px !important;
  }
}
@media (max-width: 1280px) {
  .homeimg1 {
    max-width: 100%;
    /* padding-left:63px !important; */
    margin-right: 0px !important;
  }
}

.font-light {
  font-weight: normal;
  /* font-family: 'Merriweather', serif */
  font-family: "Avenir", sans-serif;
}
/* .inner{
   background: rgb(229, 229, 250);
   padding:1rem;
   border-radius:10px;
   width:100%;
   clip-path: circle(10% at 90% 20%);
   transition: clip-path .5s ease-in-out;
   cursor: pointer;
}
.inner:hover{
    clip-path: circle(75%);
    background: rgb(202, 202, 228);
} */
.rounded {
  border-radius: 1.25rem !important;
  margin-top: 20px;
}

.line{
  background: #fa8525;
  margin-top: 50px;
 display: none;
}
@media (max-width: 767px) {
  .line{
    background: #fa8525;
    margin-top: 50px;
    display:grid;
}
}
@media (max-width: 1280px) {
  .line{
    background: #fa8525;
    margin-top: 50px;

}
}
.text-title {
  color: #007fff;
}
