<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/logos/ic_launcher.png"
        class="img-logo"
        width="60"
        height="60"
        alt="wrapkit"
      />
      <span class="brand-companyname">
        Intelligent<span> Hygiene</span>
      </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="doStuffOnClick()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{ show: !isShown }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/"  (click)="doStuffOnClick()"> Home </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" >
          <a class="nav-link" routerLink="/about"  (click)="doStuffOnClick()"> About </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/services" (click)="doStuffOnClick()"> Services </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/topup" (click)="doStuffOnClick()"> Top Up </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/locations" (click)="doStuffOnClick()"> Locations </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/blog" (click)="doStuffOnClick()"> Blog </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/awards" (click)="doStuffOnClick()"> Awards </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/media" (click)="doStuffOnClick()"> Media </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/contact" (click)="doStuffOnClick()"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
